# Updated using pur -r requirements.txt
pytest==8.1.1
requirements-parser==0.9.0
mypy==1.9.0
types_Markdown
types-PyYAML
types-Pygments
types_Pygments
types_colorama
types_pycurl
types_requests
types_docutils
pylint
