# Updated using pur -r requirements.txt
wheel==0.45.1
PyYAML==6.0.2
pycurl==7.45.4
chardet==5.2.0
requests[use_chardet_on_py3]==2.32.3
Markdown==3.7
icoextract==0.1.5
patool==3.1.0
pathvalidate==3.2.1
FVS==0.3.4
orjson==3.10.13
pycairo==1.27.0
PyGObject==3.50.0
charset-normalizer==3.4.1
numpy==2.2.2
pyfluidsynth==1.3.4
idna==3.10
urllib3==2.3.0
certifi==2024.12.14
pefile==2024.8.26
