# Updated using pur -r requirements.txt
wheel==0.42.0
PyYAML==6.0.1
pycurl==7.45.2
chardet==5.2.0
requests[use_chardet_on_py3]==2.31.0
Markdown==3.5.1
icoextract==0.1.4
patool==2.0.0
pathvalidate==3.2.0
FVS==0.3.4
orjson==3.9.15
pycairo==1.25.1
PyGObject==3.46.0
charset-normalizer==3.3.2
idna==3.6
urllib3==2.1.0
certifi==2023.11.17
pefile==2023.2.7
