# Updated using pur -r requirements.txt
wheel==0.40.0
PyYAML==6.0
pycurl==7.45.2
chardet==5.1.0
requests[use_chardet_on_py3]==2.31.0
Markdown==3.4.3
icoextract==0.1.4
patool==1.12
pathvalidate==3.1.0
FVS==0.3.4
orjson==3.9.2
pycairo==1.24.0
PyGObject==3.44.1
charset-normalizer==3.2.0
idna==3.4
urllib3==2.0.3
certifi==2023.5.7
pefile==2023.2.7
