# Updated using pur -r requirements.txt
pytest==8.3.2
requirements-parser==0.10.2
mypy==1.11.1
types_Markdown
types-PyYAML
types-Pygments
types_Pygments
types_colorama
types_pycurl
types_requests
types_docutils
pylint
