# Updated using pur -r requirements.txt
pytest==9.0.2
pytest-mock==3.15.1
freezegun==1.5.5
requirements-parser==0.13.0
mypy==1.19.1
PyGObject-stubs
types_Markdown
types-PyYAML
types-Pygments
types_Pygments
types_colorama
types_pycurl
types_requests
types_docutils
pylint
