list.content {
	border: 1px solid rgba(144, 144, 144, 0.2);
}

list.plain {
  background-color: transparent;
}

button {
  padding: 4px;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
