list.content {
	border: 1px solid rgba(144, 144, 144, 0.2);
}

list.plain {
  background-color: transparent;
}

button {
  padding: 4px 8px;
  margin: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
}

.titlebar {
  min-height: 0;
}

.titlebar button {
  margin: 2px 0;
}