/* Fix and improvements for Adwaita theme (plus custom widgets) */

.custom_warning {
  background-color: #f2edde;
  border: 1px solid #ebdecc;
  color: #a98e42;
  padding: 15px;
  border-radius: 7px;
}

.list-entry {
  padding: 10px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.1);
}

.current-state {
  background-color: rgba(136, 84, 171, 0.1);
}

/* extra buttons styles */
.btn_undecorated {
  border: 0;
  background: none;
  box-shadow: none;
}

.btn_small {
  padding: 0 15px;
}

/* tags */
.tag {
  border-radius: 20px;
  background-color: alpha(currentColor, .07);
  padding: 5px 13px;
  margin: 0 2px;
}

.tag-img {
  padding: 4px 10px;
}

.tag-category {
  padding: 5px 10px;
}

.tag-versioning {
  background-color: #c994eb;
  color: #000;
}

.tag-lutris {
  background-color: #FC9A29;
  color: #000;
}

.tag-playonlinux {
  background-color: #c91c6a;
  color: #000;
}

.tag-bottlesv1 {
  background-color: #c91c6a;
  color: #000;
}

/* terminal style */
.terminal {
  font-family: monospace;
  padding: 7px 10px;
  background-color: #4A4A4A;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.borderless, .borderless button.combo, .borderless button {
  border: 0;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
}

.plain button.combo, .plain-label {
  opacity: .8;
}

.no-padding {
  margin: 0;
  padding: 0;
}

.heading_1 {
  font-family: "Cantarell", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

entry.heading_1 {
  margin: 0 0 0 -8px;
}

.page-row {
    padding: 10px;
    box-shadow: none;
    outline: none;
}

/* This will be removed when all themes will fix .suggested-action with .circular:
   https://gitlab.gnome.org/GNOME/gtk/-/commit/83eeeb6a19b3b7671a82605bc99cd85974d5c78e */
.circular-button {
    border-radius: 20px;
}

/* Grades */
.grade-Platinum {
  background-color: #c9c9c9;
  color: #6b6b6b;
}
.grade-Gold {
  background-color: #f2edde;
  color: #8d7637;
}
.grade-Silver {
  background-color: #e8e8e8;
  color: #6b6b6b;
}
.grade-Bronze {
  background-color: #dbbfa3;
  color: #5a3f1a;
}

.removed {
  opacity: 0.5;
}

/* Library */
.library-entry {
  border: 1px solid alpha(currentColor, .07);
  border-radius: 4px;
  background-color: alpha(currentColor, .04);
}
.library-entry-details {
  padding: 10px;
  border-top: 1px solid alpha(currentColor, .07);
}