.list-entry {
  padding: 10px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.1)
}

/* buttons env */
.img_env_gaming,
.label_env_gaming {
  color: #e8106e
}

.img_env_software,
.label_env_software {
  color: #057eff
}

.img_env_custom,
.label_env_custom {
  color: #8fa1a1
}

.btn_env_gaming,
.btn_env_software,
.btn_env_custom {
  border: 2px solid rgba(145, 145, 145, 0.2)
}

.btn_env_gaming.btn_env_active {
  border: 2px solid #e8106e
}

.btn_env_software.btn_env_active {
  border: 2px solid #057eff
}

.btn_env_custom.btn_env_active {
  border: 2px solid #8fa1a1
}

/* extra buttons styles */
.btn_radius {
  border-radius: 100%;
  padding: 5px 9px;
}

.btn_small {
  padding: 0 15px;
}

/* tags */
.tag {
  border-radius: 10px;
  background-color: #242424;
  padding: 0 10px;
  color: #fff;
}

.tag-img {
  padding: 4px 10px;
}

.tag-grid {
  padding: 2px 10px 3px;
}

.tag-gaming {
  background-color: #a65176;
}

.tag-software {
  background-color: #4d7096;
}

.tag-custom {
  background-color: #638787;
}

.tag-versioning {
  background-color: #8854AB;
}
