.grade-Platinum {
  background-color: #6b6b6b;
  color: #c9c9c9;
}
.grade-Gold {
  background-color: #8d7637;
  color: #f2edde;
}
.grade-Silver {
  background-color: #6b6b6b;
  color: #e8e8e8;
}
.grade-Bronze {
  background-color: #5a3f1a;
  color: #dbbfa3;
}

/* Environments */
.gaming {
  background-color: #3c324f;
  color: #f6f1ff;
}
.gaming.active {
  background-color: #efe5ff;
}
.application {
  background-color: #32404b;
  color: #eefbff;
}
.application.active {
  background-color: #D8F6FF;
}