.list-entry {
  padding: 10px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.1);
}

.current-state {
  background-color: rgba(136, 84, 171, 0.1);
}

/* buttons env */
.img_env_gaming,
.label_env_gaming {
  color: #E8106E;
}

.img_env_software,
.label_env_software {
  color: #057EFF;
}

.img_env_custom,
.label_env_custom {
  color: #8FA1A1;
}

.btn_env_gaming,
.btn_env_software,
.btn_env_custom {
  border: 2px solid rgba(145, 145, 145, 0.2);
}

.btn_env_gaming.btn_env_active {
  border: 2px solid #E8106E;
}

.btn_env_software.btn_env_active {
  border: 2px solid #057EFF;
}

.btn_env_custom.btn_env_active {
  border: 2px solid #8FA1A1;
}

/* extra buttons styles */
.btn_undecorated {
  border: 0;
  background: none;
  box-shadow: none;
}

.btn_small {
  padding: 0 15px;
}

/* tags */
.tag {
  border-radius: 20px;
  background-color: #deddda;
  padding: 5px 13px;
  margin: 0 2px;
  color: #000;
}

.tag-img {
  padding: 4px 10px;
}

.tag-category {
  padding: 5px 10px;
}

.tag-gaming {
  background-color: #f96052;
}

.tag-software {
  background-color: #99c1f1;
}

.tag-versioning {
  background-color: #c994eb;
}

.tag-lutris {
  background-color: #FC9A29;
}

.tag-playonlinux {
  background-color: #c91c6a;
}

.tag-bottlesv1 {
  background-color: #c91c6a;
}

/* terminal style */
.terminal {
  font-family: monospace;
  padding: 7px 10px;
  background-color: #4A4A4A;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.borderless, .borderless button.combo, .borderless button {
  border: 0;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
}

.plain button.combo, .plain-label {
  opacity: .8;
}

.environment-entry {
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 7px;
  color: #fff;
}

.environment-entry.gaming {
  background: #DD1B24;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.environment-entry.software {
  background: #1C71D8;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.environment-entry.custom {
  background: #9A9996;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.hide-selection .activatable {
  background-color: transparent;
  background-image: none;
  border: 0;
  outline: 0;
}

.selection-icon {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 100px;
  padding: 10px;
}

.no-padding {
  margin: 0;
  padding: 0;
}

.heading_1 {
  font-family: "Cantarell", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

entry.heading_1 {
  margin: 0 0 0 -8px;
}

.page-row {
    padding: 10px;
}
