list.content {
	border: 1px solid rgba(144, 144, 144, 0.2);
}

list.plain {
  background-color: transparent;
}

list item {
  border: 0;
}

.environment-entry .selection-icon,
.environment-entry .selection-logo {
  color: #fff
}

list row  {
	box-shadow: none;
}
