Source: com.usebottles.bottles
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper,
	       python3,
               meson

Package: com.usebottles.bottles
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3,
         python3-gi,
         libhandy-1-dev,
         zlib1g,
         gir1.2-gtk-3.0,
         gir1.2-handy-1,
         gir1.2-notify-0.7,
         libglib2.0-dev,
         libglib2.0-bin,
         ibus-gtk3,
         python3-certifi,
         libfreetype6,
         gamemode,
         gamemode-daemon,
         libgamemode0,
         winbind
Description: Bottles
 Easily manage wineprefix using environments
