Source: com.usebottles.bottles
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3
X-Python3-Version: >= 3.6.9
Standards-Version: 3.9.3

Package: com.usebottles.bottles
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3,
         python3-gi,
         libgranite-dev,
         wine
Description: Bottles
 Easily manage your Wine bottles
