[Desktop Entry]
Name=Bottles
GenericName=Bottles
Comment=Easily manage your Wine bottles
Categories=System;
Exec=sh /usr/local/bin/bottles/pkexec
Icon=com.github.mirkobrombin.bottles
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.mirkobrombin.bottles
Keywords=Wine;
