#Title {
	padding-top: 50px;
	font-size: 18px;
	padding-bottom: 5px;
}
#Description {
	font-size: 10px;	
	padding-bottom: 25px;
}
.label_cell {
	padding: 4px 0px 10px 0px;
}
#Title.detail_title {
	padding-top: 20px;
}
