.grade-Platinum {
  background-color: #d8d8d8;
  color: #000000;
}
.grade-Gold {
  background-color: #8d7637;
  color: #f2edde;
}
.grade-Silver {
  background-color: #6b6b6b;
  color: #e8e8e8;
}
.grade-Bronze {
  background-color: #5a3f1a;
  color: #dbbfa3;
}
